<plugin name='sharding' version='0.7' grailsVersion='2.2.0 &gt; *'>
  <author>Jeff Rick</author>
  <authorEmail>jeffrick@gmail.com</authorEmail>
  <title>Grails Shards Plugin</title>
  <description>Supports sharding of data</description>
  <documentation>http://grails.org/plugin/sharding</documentation>
  <type>ShardingGrailsPlugin</type>
  <resources>
    <resource>ShardingBootStrap</resource>
    <resource>com.jeffrick.grails.plugins.sharding.Shard</resource>
    <resource>com.jeffrick.grails.plugins.services.ShardService</resource>
  </resources>
  <repositories>
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='c3p0' name='c3p0' version='0.9.1' />
    </compile>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.0' />
    </runtime>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>