<plugin name='sharding' version='0.6' grailsVersion='1.2.1 &gt; *'>
  <author>Jeff Rick</author>
  <authorEmail>jeffrick@gmail.com</authorEmail>
  <title>Grails Shards Plugin</title>
  <description>Supports sharding of data</description>
  <documentation>http://grails.org/plugin/sharding</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Datasources</resource>
    <resource>ShardingBootStrap</resource>
    <resource>com.jeffrick.grails.plugins.sharding.Shard</resource>
    <resource>com.jeffrick.grails.plugins.services.ShardService</resource>
  </resources>
  <dependencies>
    <plugin name='hibernate' version='1.0 &gt; *' />
    <plugin name='datasources' version='0.5 &gt; *' />
  </dependencies>
  <behavior />
</plugin>